<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<listeners>
	<listener class-name="testng_listeners.CustomListener"></listener>
</listeners>

<test name="login">
    <classes>
        <class name="testng_listeners.LoginTest"></class>  
    </classes>
</test>

</suite>
